

::placeholder,
body,
button,
input,
select,
textarea {
  font-family: var(--font), Arial, Helvetica, sans-serif;
}

strong {
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
 font-family:BlenderProBold;
 src:url(BlenderPro-Bold.woff2) format("woff2"),
 url(BlenderPro-Bold.woff) format("woff");
 font-weight:700;
 font-style:normal
}
